*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  hsl(210, 46%, 95%);
}

#card{
  border:hsl(210, 46%, 95%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  background-color: white;
  
}
#image{
  width:100%;
  height:100%;
}

#image img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius: 10px 0 0 10px;
  vertical-align: top;
}

#info{
  padding: 30px;
}

#info h1{
 font-size: 1.2em;
 width: 75%;
 color:  hsl(217, 19%, 35%);
 font-weight: 700;
}

#info p{
  width: 85%;
  font-size: 0.9em;
  color:  hsl(212, 23%, 69%);
  margin: 10px 0 0 0;
  font-weight: 500;
}


/* AVATAR */
#avatar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#name{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}


#name img{
  border-radius: 50%;
  height:40px;
  width:40px;
  margin-right: 15px;
}

.name{
  margin-top: 2px;
  font-size: 0.7em;
}
.name h3{
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.date{
  padding-top: 3px;
  color: hsl(212, 23%, 69%);
}

#icon{
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
  width:40px;
  height:40px;
}
#icon img{
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  
}