*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  hsl(210, 46%, 95%);
}

#card{
  border:hsl(210, 46%, 95%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  background-color: white;
  box-shadow: 1px 2px 18px -6px rgba(0,0,0,0.75);
}
#image{
  width:100%;
  height:100%;
}

#image img{
  width:100%;
  height:100%;
  border-radius: 10px 0 0 10px;
  vertical-align: top;
}

#info{
  padding: 30px 50px 20px 40px;
}

#info h1{
 font-size: 1.2em;
 width: 75%;
 color:  hsl(217, 19%, 35%);
 font-weight: 700;
}

#info p{
  width: 85%;
  font-size: 0.9em;
  color:  hsl(212, 23%, 69%);
  margin: 10px 0 0 0;
  font-weight: 500;
}


/* AVATAR */
#avatar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#name{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}


#name img{
  border-radius: 50%;
  height:40px;
  width:40px;
  margin-right: 15px;
}

.name{
  margin-top: 2px;
  font-size: 0.7em;
}
.name h3{
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.date{
  padding-top: 3px;
  color: hsl(212, 23%, 69%);
}

#icon{
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid hsl(210, 46%, 95%);
  width:30px;
  height:30px;
  border-radius: 50%; 
  background-color: hsl(210, 46%, 95%); 
  position: relative;

}
#icon:active{
  background-color:hsl(214, 17%, 51%) ;
}

#icon svg{
  display: block;
  margin: 0 auto;
  width: 13px;
  height: 13px;
  color: hsl(217, 19%, 35%);
}
#icon svg:active{
  color: white;
}
.pop-up{
  width: 20%;
  height: 8%;
  background-color: hsl(217, 19%, 35%);
  position:absolute;
  right:10%;
  bottom: 42%;
  border-radius: 15px;
  box-shadow: -1px 5px 7px 0px rgba(0,0,0,0.47);
  }
.pop-up img{
  vertical-align: middle;
  margin-left: 5px;
}
.pop-up:last-child{
  margin-left: 0;
}


 .pop-up::after{
  content: '';
  background-color: hsl(217, 19%, 35%);
  width: 20px;
  height: 20px;
  position: absolute;
  top:80%;
  right: 47%;
  transform: rotate(45deg);
} 


.pop-up span{
  display: inline-block;
  color: hsl(212, 23%, 69%);
  letter-spacing: 10px;
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 40px;
  
}


/* MEDIA QUERIES */

@media screen and (max-width:375px) {
  body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #card{
    border:hsl(210, 46%, 95%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;    
  }
  #image img{
    border-radius:0;
  }
  #info{
    padding: 30px 23px 20px 20px;
  }
  
  #info h1{
    font-size: 1.2em;
    width: 100%;
    font-weight: 700;
   }
   #info p{
    width: 100%;
    font-size: 1em;
    font-weight: 500;
  }
  .pop-up{
    width: 90.5%;
    height: 8%;
    right:5%;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: -1px 5px 7px 0px rgba(0,0,0,0.47);
    padding: 10px;
    }

    #icon{
      position: relative;
      z-index: 1;
    }
    .pop-up::after{
      display: none;
    }
    
.pop-up span{
  margin-top: 6px;
} 

}