*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card{
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height:auto;
}
#image{
  flex-basis: 1;
  width:100%;
  height: 100%;
  border: 1px solid blue;
}

#image img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

#info{
  flex-basis:1;
  border: 1px solid red;
  padding: 30px;
}

#info h1{
 font-size: 1.4em;
 width: 85%;
 color:  hsl(217, 19%, 35%);
}

#info p{
  width: 85%;
  font-size: 0.9em;
  margin: 10px 0 40px;
}


/* AVATAR */
#avatar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#name{
  display: flex;
  justify-content: center;
  align-items: center;
}

#name img{
  border-radius: 50%;
  height:40px;
  width:40px;
}
#name div{
  margin-top: 60px;
  padding-left: 15px;
}

#name div p{
  margin-top: 2px;
}